CREATE TABLE IF NOT EXISTS public.enrollment_requests ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, full_name text NOT NULL, guardian_phone text NOT NULL, id_number text NOT NULL, educational_stage text NOT NULL, created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL ); ALTER TABLE public.enrollment_requests ENABLE ROW LEVEL SECURITY; CREATE POLICY "Allow public insert" ON public.enrollment_requests FOR INSERT WITH CHECK (true); CREATE POLICY "Allow public select" ON public.enrollment_requests FOR SELECT USING (true);
