CREATE TABLE IF NOT EXISTS public.notifications ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, user_account_number text NOT NULL, message text NOT NULL, is_read boolean DEFAULT false, created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL ); ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY; CREATE POLICY "Allow public insert" ON public.notifications FOR INSERT WITH CHECK (true); CREATE POLICY "Allow public select" ON public.notifications FOR SELECT USING (true); CREATE POLICY "Allow public update" ON public.notifications FOR UPDATE USING (true);
CREATE POLICY "Allow public delete" ON public.notifications FOR DELETE USING (true);
